@charset "UTF-8";

header {
    background-color: #bbbbbb;
    padding: 20px 0px;
}

.caixa {
    position: relative;
    margin: auto;
    max-width: 840px;
}

nav ul {
    position: absolute;
    top: 110px;
    right: 0px;
}

nav li {
    display: inline;
    margin-left: 15px;
}

nav a {
    color: black;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.3em;
}

.produtos {
    margin: auto;
    width: 840px;
}

.produtos li {
    display: inline-block;
    width: 30%;
}